.item {
  font-size: 1rem;
  list-style-type: none;
  padding: 14px 25px;
  border-bottom: 1px solid #fff;
  background: #f0efef;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.content span {
  order: 1;
  display: flex;
  width: fit-content;
}

.content p {
  margin-inline: 10px;
}

.completed {
  text-decoration: line-through;
}

.content button {
  cursor: pointer;
  background: transparent;
  order: 2;
  outline: none;
  border: none;
  margin-left: 12px;
}

.toDoBtn {
  font-size: 16px;
  color: #5e5e5e;
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  outline: none;
}
